[Desktop Entry]
Encoding=UTF-8
Name=SendCoin
Comment=SendCoin P2P Cryptocurrency
Comment[fr]=SendCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SendCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/sendcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/sendcoin;
Categories=Office;
